#toolbar{
  background-image: linear-gradient(0deg, #FF0000, #EE3B5E);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#toolbar img{
  height: 40px;
}

.small-box{
  width: 300px !important;
}

#container{
  background-color: #eaeaea;
  padding: 30px;
  margin-top: 70px;
}

.pokemon{
  width: 400px;
  border: 1px solid #dadada;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 15px;
}

.photo{
  height: 500px;
  overflow: hidden;
  background-color: white;
}

.photo img{
  height: 100%;
}

.info{
  background-color: white;
  padding: 10px;
}

h2{
  color: #8a8a8a;
  font-size: 40px;
}

span{
  font-size: 60px;
  color: #486EFC;
}
